<!DOCTYPE html>
<header>
    <link rel="stylesheet" href="../public/stylesheets/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <%- include('./partials/navbar.ejs'); %>
</header>
<h1>About Me</h1>
</html>