<!DOCTYPE html>
<html>
<head>
<title>Trent Endresen Portfolio</title>
<link rel="stylesheet" href="../public/stylesheets/style.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<%- include('./partials/navbar.ejs'); %>
<h1 style = "color:navy;background-color:purple;">Developer & Programmer</h1>
<p>This is a paragraph.</p>

</body>
</html>