nav {
    padding-top: 20px;
    padding-bottom: 20px;
    border: 0;
    border-radius: 0;
    font-size: 14px;
    letter-spacing: 5px;
  }
  nav a:hover {
    background-color: black;
  }
  
   body {
    background-color: coral;
  }

  .contact {
    background-color: coral;
  }

  .descriptiondsd {
    min-height: 97vh;
    width: 80%;
    height: 90%;
    top: 10%;
    left: 10%;
    right: 10%;
    margin: auto;
  }